*.js.map
typings
test
documentation
*.ts
!*.d.ts
*.log
typings.json
tslint.json
tsconfig.json
Gulpfile.js
script/signfiles.sh
js_installation.sh
js_installation.bat
Build*.txt
*.props
*.zip
*.tgz
*.jar
_tempSignHP
build_output
